.header{
    width: 1920px;
    height: 768px;
    background: linear-gradient(to right, rgba(0,78, 134, .85) 0%, rgba(10, 65, 104, .85) 80%), url("../img/buildings.jpg");

}

.wrapper{
    width: 1420px;
    margin: 0 auto;
    display: flex;
}
.header__mail{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}
.header__phone{
    width: 400px;
    flex-wrap: wrap;
}
.header__wrapper{
    display: flex;
}
.header__logo{
    margin-top: 26px;
    margin-left: 80px;
}
.header__list{
    display: flex;
    margin-left: 600px;
    margin-top: 25px;
}
.header__mail li:first-child{
    font-family: sans-serif, 'Proxima Nova';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: -0.5px;

    color: #a20e0e;
    opacity: 0.5;

}
.header__mail li:last-child a{
    font-family: sans-serif, 'Proxima Nova';
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;

    text-align: right;
    letter-spacing: -0.5px;

    color: #FEE040;

}
.header__mail img{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}

ul{
    list-style-type: none;
}

.header__phone li:first-child {
    margin-left: 155px;
    display: flex;
    flex-wrap: nowrap;
    font-family: sans-serif, 'Proxima Nova';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    letter-spacing: -0.5px;
    opacity: 0.5;
    color: #FFFFFF;
    margin-top: -5px;
}
.header__phone img{
    margin-right: 10px;
}

.header__phone li:last-child{

    font-family:sans-serif, 'Proxima Nova';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    margin-left: 130px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 3px;

}

.header__description h1{
    font-family: sans-serif, 'Gilroy';
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.5px;
    margin-top: 128px;
    color: #FFFFFF;
    width: 720px;
}
.header__description p{
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    /* or 170% */
    color: #FFFFFF;
    width: 380px;
    opacity: 0.7;
    display: flex;
    margin-top: -10px;
}
.header__description{
    display: flex;
    flex-direction: column;
    margin-left: 370px;
}
.header__button button{
    width: 340px;
    height: 70px;
    background: #FEE040;
    border-radius: 2px;
    font-family:sans-serif, 'Gilroy';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    border: none;
    margin-left: 120px;

    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 145px;
    color: #000000;

}
.header__banner{
    display: flex;

}

.header__button span{
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */
    width: 350px;

    color: #FFFFFF;
}

.header__quality{
    display: flex;
    margin-left: 172px;
    margin-top: 240px;
}
.header__quality-item{
    display: flex;
    margin-left: 75px;
}
.header__quality span {
    margin-left: 30px;
    display: flex;
    font-family:sans-serif, 'Proxima Nova';
    width: 210px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    letter-spacing: -0.5px;

    color: #FFFFFF;
}
.header__quality img{
    display: flex;
}

.header__person{
    margin-left: 1445px;
    margin-top: -230px;
}
.header__person img:first-child{
    margin-left: 40px;
    margin-top: 40px;
    position: absolute;
    border-radius: 68px;
}
.header__person img:nth-child(2){
    margin-top: 100px;
    margin-left: 102px;
    position: absolute;

}

@media only screen and (max-width: 1700px) {
    .wrapper {
        width: 1520px;
    }
    .header__list{
        margin-left: 300px;
    }
    .header__person{
        display: flex;
    }
    .header__banner{
        width: 300px;
        display: flex;
        margin-left: -60px;
    }
    .header__description{
        margin-left: 370px;
        width: 560px;
    }
    .header__button{
        position: absolute;
        margin-top: 180px;
        margin-left: 250px;
    }
    .header__person{
        margin-top: -420px;
        margin-left: 850px;
    }
}

@media only screen and (max-width: 1550px) {
    .wrapper {
        width: 1220px;
    }
    .header__list{
        margin-left: 200px;
    }

}
@media only screen and (max-width: 1400px) {
    .wrapper {
        margin-left: 200px;
        width: 1000px;
    }
    .header__list{
        margin-left: 100px;
    }
    .header__quality{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        margin-left: 240px;
        width: 800px;
    }
    .header__logo{
        margin-left: 35px;
    }
    .header__list{
        margin-left: -20px;
    }
    .header__phone li:last-child{
        margin-left: 20px;
    }
    .header__phone li:first-child{
        margin-left: 20px;
    }
    .header__quality{
        flex-direction: column;
        margin-left: 250px;
        margin-top: 150px;
    }
    .header__quality-item{
        margin-top: 30px;
        margin-left: -10px;
    }
    .header__banner{
        width: 300px;
        display: flex;
        margin-left: -130px;
        margin-top: -130px;
    }
    .header__description{
        margin-left: 370px;
        width: 560px;
    }
    .header__button{
        position: absolute;
        margin-top: 180px;
        margin-left: 250px;
    }
    .header__person{
        margin-top: -500px;
        margin-left: 650px;
    }

    .header__description h1{
        font-size: 29px;
        width: 500px;
    }
}
@media only screen and (max-width: 900px) {
    .wrapper {
        margin-left: 210px;
        width: 300px;
    }
    .header__list{
        margin-top: 100px;
        margin-left: -240px;
    }
    .header__phone li:last-child{
        margin-left: 50px;
    }
    .header__phone li:first-child{
        margin-left: 50px;
    }
    .burger{
        position: absolute;
        margin-left: 350px;
        margin-top: 30px;
    }
    .header{

        height: 1000px;
    }
    .header__person{
        margin-top: 5px;
        margin-left: 270px;
    }
    .header__description h1{
        font-size: 27px;
        width: 500px;
    }
}
@media only screen and (max-width:800px) {
    .wrapper {
        margin-left: 130px;
        width: 300px;
    }
    .header__list{
        margin-top: 100px;
        margin-left: -240px;
    }
    .header__phone li:last-child{
        margin-left: 50px;
    }
    .header__phone li:first-child{
        margin-left: 50px;
    }
    .burger{
        position: absolute;
        margin-left: 350px;
        margin-top: 30px;
    }
    .header{

        height: 1000px;
    }
    .header__person{
        margin-top: 5px;
        margin-left: 190px;
    }
    .header__description h1{
        font-size: 27px;
        width: 500px;
    }
    .header__banner{
        width: 300px;
        display: flex;
        margin-left: -210px;
        margin-top: -130px;
    }
    .header__description{
        margin-left: 370px;
        width: 560px;
    }
    .header__button{
        position: absolute;
        margin-top: 180px;
        margin-left: 250px;
    }
    .header__quality{
        margin-left: 170px;
    }
}
@media only screen and (max-width:600px) {
    .wrapper {
        margin-left: 30px;
        width: 300px;
    }
    .header__list{
        margin-top: 100px;
        margin-left: -240px;
    }
    .header__phone li:last-child{
        margin-left: 50px;
    }
    .header__phone li:first-child{
        margin-left: 50px;
    }
    .burger{
        position: absolute;
        margin-left: 350px;
        margin-top: 30px;
    }
    .header{

        height: 1000px;
    }
    .header__person{
        margin-top: 5px;
        margin-left: 100px;
    }
    .header__description h1{
        font-size: 27px;
        width: 500px;
    }
    .header__banner{
        width: 300px;
        display: flex;
        margin-left: -310px;
        margin-top: -130px;
    }
    .header__description{
        margin-left: 370px;
        width: 560px;
    }
    .header__button{
        position: absolute;
        margin-top: 180px;
        margin-left: 250px;
    }
    .header__quality{
        margin-left: 70px;
    }
}