.workCard__description-title{
    margin-left: 70px;
    margin-top: 70px;
}
.workCard__description-title p {
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: -0.5px;

    color: #333333;

    opacity: 0.7;
    width: 460px;
}
.workCard h2 {
    display: flex;
    font-family:sans-serif, 'Bebas Neue';
    font-weight: 700;
    font-size: 60px;
    line-height: 49px;
    /* identical to box height */
    margin-top: 100px;
    letter-spacing: 5px;
    margin-left: 500px;

    background: linear-gradient(180deg, #60B6FF 0%, rgba(0, 78, 134, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;


}

.workCard h4 {
    width: 800px;
    font-family:sans-serif, 'Gilroy';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */
    margin-top: 36px;
    text-align: center;
    letter-spacing: 5px;
    color: #505050;
    margin-left: 600px;
}

.workCard__description{
    margin-top: 70px;
    flex-direction: row;
    display: flex;
}

.workCard__description span{
    display: flex;
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */
    width: 107px;
    height: 27px;
    justify-content: center;
    letter-spacing: 3px;
    align-items: center;
    text-transform: uppercase;
    background: #FEE040;
    color: #151515;


}

.workCard__description b{
    display: flex;
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-left: 140px;
    margin-top: -30px;
    /* identical to box height, or 142% */

    letter-spacing: -0.5px;

    color: #151515;
}

.workCard__description-item img{
    width: 70px;
    border-radius: 60px;
    border-width: 6px;
    border-color: #ffffff; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.4);
}

.workCard__description-item span{
    display: flex;
    margin-top: -55px;
    margin-left: 115px;
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    background: none;
    letter-spacing: -0.5px;
    text-transform: none;
    color: #505050;
    width: 380px;
    opacity: 0.7;
}

.workCard__description-item p {
    font-family:sans-serif, 'Proxima Nova';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 162% */

    letter-spacing: -0.8px;
    display: flex;
    color: #151515;
    margin-top: 37px;
    margin-left: 112px;
    opacity: 0.7;
}

@media only screen and (max-width: 1600px) {
    .workCard h2{
        margin-left: 150px;
    }
    .workCard h4{
        margin-left: 320px;
    }
    .WorkCard__picture{
        width: 600px;
    }
}

@media only screen and (max-width: 1200px) {
    .workCard h2{
        margin-left: 100px;
        font-size: 50px;
    }
    .workCard h4{
        margin-left: 140px;
    }
    .WorkCard__picture{
        margin-top: 100px;
        width: 400px;
        height: 200px;
    }
}
@media only screen and (max-width: 1000px) {
    .workCard h2{
        margin-left: 100px;
        font-size: 40px;
    }
    .workCard h4{
        margin-left: 60px;
        font-size: 18px;
    }
    .WorkCard__picture{
        margin-left: 230px;
        margin-top: -50px;
        width: 400px;
        height: 200px;
    }
    .workCard__description{
        flex-direction: column;
    }
    .workCard__description-title{
        margin-left: 220px;
    }
}
@media only screen and (max-width: 900px) {
    .workCard h2{
        margin-left: 150px;
        font-size: 30px;
    }
    .workCard h4{
        width: 450px;
        margin-left: 190px;
        font-size: 18px;
    }
    .WorkCard__picture{
        margin-left: 230px;
        margin-top: -50px;
        width: 400px;
        height: 200px;
    }
    .workCard__description{
        flex-direction: column;
    }
    .workCard__description-title{
        margin-left: 220px;
    }
}

@media only screen and (max-width: 750px) {
    .workCard h2{
        margin-left: 100px;
        font-size: 24px;
    }
    .workCard h4{
        width: 450px;
        margin-left: 120px;
        font-size: 16px;
    }
    .WorkCard__picture{
        margin-left: 150px;
        margin-top: -50px;
        width: 400px;
        height: 200px;
    }
    .workCard__description{
        flex-direction: column;
    }
    .workCard__description-title{
        margin-left: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .workCard h2{
        margin-top: 20px;
        margin-left: 30px;
        font-size: 21px;
    }
    .workCard h4{
        margin-top: -20px;
        width: 450px;
        margin-left: 20px;
        font-size: 14px;
    }
    .WorkCard__picture{
        margin-left: 40px;
        margin-top: -50px;
        width: 400px;
        height: 200px;
    }
    .workCard__description{
        flex-direction: column;
    }
    .workCard__description-title{
        margin-left: 30px;
    }
    .workCard__description-item span{
        font-size: 14px;
    }
    .workCard__description-item p {
        font-size: 14px;
    }
    .workCard__description b  {
        font-size: 20px;
    }
}